<a href="https://colab.research.google.com/github/JonanthanDom/aulas-programa-colabs/blob/main/aula%2030032023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#idade 
anoNascimento = int(input('Digite seu ano de nasciento'))
print('Sua idade é:', 2023 - anoNascimento)

In [ ]:
#imc
altura = float(input('Qual sua altura? '))
peso = float(input('Qual o seu peso? '))
print('Seu IMC é: ', peso/altura**2)

In [ ]:
#verificar se o número é par
num = int(input('Digite o número: '))
if(num%2 == 0):
  print('O número é par!')
else:
  print('O número é impar!!!')

In [ ]:
#Em um campeonato de MMA, tem 3 categorias por peso:
#Galo: até 70kg
#médio: até 80kg
#Meio pesado: até 90kg
peso = float(input('Digite o peso '))
if(peso <= 70):
  print('Galo')
elif(peso <= 80):
  print('Médio')
else:
  print('Meio pesado')

In [ ]:
#exercício IMC
altura = float(input('Qual sua altura? '))
peso = float(input('Qual o seu peso? '))
imc = peso/altura**2
print('Seu IMC é: ', round(imc, 2))
if(imc < 20):
  print('Abaixo do peso normal')
elif(imc < 25):
  print('Peso normal')
elif(imc < 30):
  print('Excesso de peso')
elif(imc < 35):
  print('Obesidade classe I')
elif(imc < 40):
  print('Obesidade classe II')
else:
  print('Obesidade classe III')

In [ ]:
# tipos booleanos
print(100 == (50+50)) #igualdade
print(100 >= (50+50)) #maior ou igual
print(100 > (50+50)) #é igual, não maior
print(100 != (50+50)) #é igual e não negação

In [ ]:
# Se for do sexo feminino "F" e tiver 55 anos ou mais, pode se aposentar
# Se for do sex masculino "F" e tiver 60 anos ou mais, pode se apodentar

sexo = input('insira o sexo: m (masculino) ou f (feminino)')
idade = int(input('Insira a idade: '))
if((sexo == 'f' and idade >= 55) or (sexo == 'm' and idade >= 60)):
  print('Pode se aposentar')
else:
  print('Ainda não pode')

In [ ]:
#Solicita três numeros A, B e C.
#Imprima na tela se A+B é menor que C.
 
a = int(input('Digite o número A: '))
b = int(input('Digite o número B: '))
c = int(input('Digite o número C: '))
if(a + b < c):
  print('é menor')
else:
  print('Não é menor')

In [ ]:
#Recebe dois valores inteiros e mostra qual o maior
a = int(input('Qual o primeiro número? '))
b = int(input('Qual o segundo número? '))
if(a > b):
  print(a ,  'é maior que ' ,  b)
else:
  print(a , 'é menor que ' , b)

In [ ]:
#listas são estruturas de dados formadas por elementos de um mesmo tipo
numeros = [10, 20,  30, 40, 50]
print(numeros)

In [ ]:
#descobrir o tamanho da lista
len(numeros)

In [ ]:
#Indices
#o indice sempre começa na posição 0
print(numeros[1])

In [ ]:
#lisas de outros tipos
alunos = ['Mariana' , 'Luiz' , 'Higor' , 'Enzo' , 'Valentina']
print(alunos)

In [ ]:
#alterar valores de itens de lista
alunos[3] = 'Ivan'
print(alunos)

In [ ]:
#Inserir valores na lista usar .append()
alunos.append('Aderbal')
print(alunos)

In [34]:
#inserir via teclado
alunos.append(input('Digite o nome '))

Digite o nome Karol

In [35]:
print(alunos)

['Mariana', 'Luiz', 'Higor', 'Ivan', 'Valentina', 'Aderbal', 'Maria', 'Karol']

In [43]:
#remover ultimo da lista .pop()
alunos.pop()
print(alunos)

[]

In [49]:
alunos.append(input('Digite o nome:'))

Digite o nome:Marcos

In [50]:
print(alunos)

['Higor', 'Ramon', 'Aderbal', 'Carlos', 'Marcos']

In [51]:
#Descobrir se há valor determinado na lista e exibir sua posição
if 'Carlos' in alunos:
  print('tem sim')
else:
  print('tem não')

tem sim